<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/bootstrap.css">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Symfony Address</a>
        </nav>

        <div class="card">
            <div class="card-body">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
